<link href="css/sidebar.css" rel="stylesheet">
<aside class="sidebar">
    <div class="profile-section">
      <img src="/img.png" alt="User Profile" class="profile-pic">
      <p class="username"><%= currUser.username %></p>
      <hr>
    </div>
   
    <div class="menu">
      <div class="menupart1">
        <a href="/home" class="menu-item ">Home</a>
      <a href="/dashboard" class="menu-item">Dashboard</a>
      </div>
     <div class="menupart2">
      <h4>Our features</h4>
      <a href="/roadmaps" class="menu-item ">Roadmaps</a>
      <a href="courses" class="menu-item ">Courses & tutorials</a>
      <a href="/assessments" class="menu-item ">Assessment</a>
      <a href="https://data-flair.training/free-courses" class="menu-item ">Certification courses</a>
      <a href="/#" class="menu-item ">Internships</a>
      <a href="/#" class="menu-item ">Projects</a>
      <a href="/#" class="menu-item ">Resume builder</a>
      <a href="/#" class="menu-item ">Mentorship</a>
      <a href="/#" class="menu-item ">Mock interview</a>
      <a href="/#" class="menu-item ">Ask Ruskin</a>
     </div>
    </div>
  </aside>
 
  