<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
  <section class="about-us-section">
    <h2 style="color:#ffff; margin-top: 35px; ">About Career Catalysts</h2>
    <div class="about-content">
      <div class="left-column">
       <div class="lefty"> 
        <h2 >Empowering Students with </h2>
        <h2>Industry-Ready Skills</h2> 
        <p>We bridge the gap between academics and industry <br>through mentorship, roadmap, and real-world projects.</p>
        <h4 >Our Mission :</h4>
        <p>To empower students with skills to thrive in today's job market.</p>
        <h4 >Our Vision :</h4>
        <p >To modernize education and align it with industry needs.</p></div>
        <img src="https://media.istockphoto.com/id/1353769234/photo/training-and-skill-development-concept-with-icons-of-online-course-conference-seminar-webinar.jpg?s=612x612&w=0&k=20&c=2YJG1My6Lu1T1FnzIPbimRNORcSbSuz6A8zb7HKNpx4=" alt="Training Image" />
      </div>
      <div class="right-column">
        <img src="https://media.licdn.com/dms/image/v2/D5612AQGNTpUnIqHcjw/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1682519766097?e=2147483647&v=beta&t=yz45JwKb5LuDUOt7HZwDkqfjnk91q6xzvUvAn7t0Hdw" alt="Team Collaboration" />
        <div class="why-choose-us">
          <h3 style="color: #7ed6ef;">Why Choose Us:</h3>
          <p>
            Our platform equips you with in-demand skills, real-world insights, <br>and access to live projects, ensuring you're job-ready.
            With tools like<br> mock interviews, resume optimization, and career preparation, it is your gateway to practical learning,
            professional growth, and career success.
          </p>
          <h3 style="color: #7ed6ef;">Ruskin 🚀</h3>
          <p>
            The prominent and advanced chatbot for easily solving the queries  <br>of students without relying on anybody else.
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
