
    <link rel="stylesheet" href="/css/course.css">
<div class="container">
    <h2>Available Courses</h2>
    <ul>
      <% courses.forEach(course => { %>
        <li>
          <div>
            <strong><%= course.name %></strong> - 
            <a href="<%= course.link %>" target="_blank">Visit Course</a>
          </div>
  
          <% if (completedCourses && completedCourses.includes(course._id.toString())) { %>
            <button disabled>✔ Completed</button>
          <% } else { %>
            <form action="/courses/complete/<%= course._id %>" method="POST">
              <button type="submit">Mark as Done</button>
            </form>
          <% } %>
        </li>
      <% }) %>
      <li>
        <a href="/courses">Back to courses</a>
        <a href="/dashboard">back to dashboard</a>
      </li>
    </ul>
  </div>
  