<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career Catalyst</title>
  <link rel="stylesheet" href="/styles/home.css">
  
</head>
<body>
<div class="container-fluid">
<div class="row herosec">
    <div class="hero-content">
      <h1 style="color:#ffff">Empowering Students to</h1>
       <h1 style="color:#7ed6df" class="part2">Bridge the Gap Between Academia </h1>
       <h1 style="color:#7ed6df" class="part3">And Industry</h1>
      <p>Unlock in-demand skills,access mentorship programs,and</p><p> gain real worrld experience to achieve your dream career</p>
    </div>
    <div class="row">
       <div class="btns">
        <a href="/login"  class="col-sm-6 col-md-6 col-lg-6 col-xs-12"><button id="btn1" class="btn1 ">start now</button></a>
         <a href="/features" class="col-sm-12 col-md-6 col-lg-6"><button id="btn2" class="btn2">Explore features</button></a> 
       </div>
    </div>
</div>
  <div class="row">
      <div class="feature-card col-sm-5 col-md-3 col-lg-3 col-xs-10" ><h3>Effective Networking</h3>
        <i class="fa-solid fa-users-gear"></i>
       
        <p>Connects users with experts and peers, fostering guidance, collaboration, and career opportunities.</p>
      </div>
      <div class="feature-card col-sm-5 col-md-3 col-lg-4 col-xs-10">
        <h3>Innovation Booster</h3>
        <i class="fa-solid fa-lightbulb"></i>
        
        <p>Provides resources, insights, and collaboration opportunities to transform ideas into impactful solutions.</p>
      </div>
      <div class="feature-card col-sm-5 col-md-3 col-lg-3 col-xs-10">
        <h3>Goal Getter</h3>
        <i class="fa-solid fa-bullseye"></i>
        
        <p>Empowers users with the right skills, tools, and connections to achieve their dream roles efficiently.</p>
      </div>
  </div>
</div>
  


</body>
</html>
